<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.DepartmentInfoMapper">

    <select id="selectPage" resultType="DepartmentInfo">
        select * from department_info
        <where>
            <if test="name != null and name != ''">
                and (name like concat('%', #{name}, '%') or code like concat('%', #{name}, '%'))
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by sort desc, id desc
    </select>

    <select id="selectEnabled" resultType="DepartmentInfo">
        select * from department_info where status = 1 order by sort desc, id desc
    </select>

    <select id="selectById" resultType="DepartmentInfo">
        select * from department_info where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into department_info(name, code, description, location, phone, sort, status, create_time, update_time)
        values (#{name}, #{code}, #{description}, #{location}, #{phone}, #{sort}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update department_info
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="description != null">description = #{description},</if>
            <if test="location != null">location = #{location},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from department_info where id = #{id}
    </delete>

    <select id="countAll" resultType="long">
        select count(*) from department_info
    </select>

</mapper>
