<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.OperationLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into operation_log(user_id, username, role, module_name, action_type, description, create_time)
        values (#{userId}, #{username}, #{role}, #{moduleName}, #{actionType}, #{description}, #{createTime})
    </insert>

</mapper>
