<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.UserMapper">

    <select id="selectById" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultType="User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectPage" resultType="User">
        SELECT * FROM user
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, avatar, phone, email, role, status)
        VALUES (#{username}, #{password}, #{nickname}, #{avatar}, #{phone}, #{email}, #{role}, #{status})
    </insert>

    <update id="update">
        UPDATE user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="password != null">password = #{password},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE user SET status = #{status} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM user
    </select>
</mapper>
