<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.MajorInfoMapper">

    <select id="selectList" resultType="MajorInfo">
        select * from major_info
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectEnabled" resultType="MajorInfo">
        select * from major_info where status = 1 order by id desc
    </select>

    <select id="selectById" resultType="MajorInfo">
        select * from major_info where id = #{id}
    </select>

    <insert id="insert" parameterType="MajorInfo" useGeneratedKeys="true" keyProperty="id">
        insert into major_info (department_id, name, code, grade_year, status)
        values (#{departmentId}, #{name}, #{code}, #{gradeYear}, #{status})
    </insert>

    <update id="update" parameterType="MajorInfo">
        update major_info
        <set>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="gradeYear != null">grade_year = #{gradeYear},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from major_info where id = #{id}
    </delete>

</mapper>
