spring:
  application:
    name: herbal-food-platform
  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/herbal_food?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0
      timeout: 2000ms
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  sql:
    init:
      mode: always
      data-locations: classpath:schema.sql

mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.xiaou.herbal.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

server:
  port: 8080
  servlet:
    context-path: /api/v1

logging:
  level:
    root: info
    com.xiaou.herbal: debug
