spring:
  datasource:
    url: jdbc:mysql://localhost:3306/snack_wms?useSSL=false&serverTimezone=UTC&characterEncoding=utf-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jackson:
    time-zone: Asia/Shanghai
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080

jwt:
  secret: snack-secret
  expireSeconds: 86400

logging:
  level:
    com.xiaou.snack.wms: info

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
