server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/folksong_platform
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

jwt:
  secret: folksong-platform-secret-key-2024-very-long-secret-key-for-jwt-token
  expiration: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

knife4j:
  enable: true
  setting:
    language: zh_cn

file:
  upload-path: ./uploads/
