<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opera.mapper.ArtistArchiveMapper">

    <select id="selectList" resultType="ArtistArchive">
        select * from artist_archive
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectEnabled" resultType="ArtistArchive">
        select * from artist_archive where status = 1 order by id desc
    </select>

    <select id="selectById" resultType="ArtistArchive">
        select * from artist_archive where id = #{id}
    </select>

    <insert id="insert" parameterType="ArtistArchive" useGeneratedKeys="true" keyProperty="id">
        insert into artist_archive (department_id, name, code, grade_year, status)
        values (#{departmentId}, #{name}, #{code}, #{gradeYear}, #{status})
    </insert>

    <update id="update" parameterType="ArtistArchive">
        update artist_archive
        <set>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="gradeYear != null">grade_year = #{gradeYear},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from artist_archive where id = #{id}
    </delete>

</mapper>

